---
layout: default.hbs
custom_css: /styles/custom.css
title: Work securely | Office365 | Vodafone UK
description: Technology and customer demands are changing the way we work. Work is increasingly digital. What employees want from their employers has changed.
utag_data:
    page_name: uk>business>app direct>work more securely
    page_type: landing page
---

<div class="media-layout"></div>
<a href="#content" class="jumper">Skip to content</a>

<div class="js-component-component component__component" data-component="welcome page">
	<div class="js-grill grill" data-js="_grill">
		<div class="grid grill__grid">
			<div class="grid__item grid__item--sm-1/4 grid__item--1/12 grill__item">&nbsp;</div>
			<div class="grid__item grid__item--sm-1/4  grid__item--1/12 grill__item">&nbsp;</div>
			<div class="grid__item grid__item--sm-1/4  grid__item--1/12 grill__item">&nbsp;</div>
			<div class="grid__item grid__item--sm-1/4  grid__item--1/12 grill__item">&nbsp;</div>
			<div class="grid__item grid__item--1/12 grill__item">&nbsp;</div>
			<div class="grid__item grid__item--1/12 grill__item">&nbsp;</div>
			<div class="grid__item grid__item--1/12 grill__item">&nbsp;</div>
			<div class="grid__item grid__item--1/12 grill__item">&nbsp;</div>
			<div class="grid__item grid__item--1/12 grill__item">&nbsp;</div>
			<div class="grid__item grid__item--1/12 grill__item">&nbsp;</div>
			<div class="grid__item grid__item--1/12 grill__item">&nbsp;</div>
			<div class="grid__item grid__item--1/12 grill__item">&nbsp;</div>
		</div>
	</div>

    {{> header}}

	<div id="content" class="js-content content">
		<div class="js-component-component component__component" data-component="hero">
			<div class="hero">
				<div class="background background--cover">
					<div class="background__image" style="background-image: url({{ asset '/images/lp-3-hero-banner-1440x510@2x.jpg' }})"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="home" style="padding-bottom:0;">
		<div class="js-component-component component__component" data-component="home">

			<section class="section section--gallery">
				<div class="spring">

					<div class="card card--white hero__overlap">
							<div class="card__wrapper">
									<div class="grid grid--gutter">
											<div class="grid__item grid__item--gutter grid__item--md-1/1 grid__item--1/1">

														<div class="software__content">
															<div class="steps-guide steps-guide--alt">
																<h2 class="no-gutter--top gutter--bottom align--center">
																	<span class="heading heading--3 heading--inline heading--leading">Vodafone Business and Office 365<br>Work together, work easier and worry&nbsp;less</span>
																</h2>
																<ol class="grid grid--gutter steps-guide__process">
																	<li class="grid__item grid__item--gutter grid__item--md-1/1 grid__item--1/4 flush--sm-bottom">
																		<div class="grid">
																			<div class="grid__item grid__item--md-1/3 steps-guide__icon">
																				<div class="steps-guide__icon-wrap">
																					<svg focusable="false" aria-hidden="true" class="icon  icon--large  " width="48px" height="46px" viewBox="0 0 48 46">
																							<g id="Landing-Page---Sprint-8" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																									<g id="Landing-page-2.2---working-on-the-move" transform="translate(-267.000000, -688.000000)">
																											<g id="Group-2" transform="translate(130.000000, 521.000000)">
																													<g id="safe-cloud" transform="translate(132.000000, 162.000000)">
																															<path d="M35.7364583,37.4583333 C35.7364583,37.4583333 42.503125,37.7302083 45.1614583,36.5520833 C48.9072917,34.8604167 51.475,31.2958333 51.8979167,27.1875 C52.290625,23.2302083 50.478125,18.8802083 47.0947917,16.7958333 C45.403125,15.7385417 43.409375,15.3458333 41.4458333,15.1645833 C40.328125,15.134375 39.1802083,15.1947917 38.0625,15.315625 C36.4614583,10.2104167 31.9302083,6.55520833 26.6135417,6.10208333 C22.5052083,5.8 18.4875,7.49166667 15.8291667,10.6635417 C14.5604167,12.2041667 13.6239583,13.9864583 13.140625,15.95 C13.0197917,16.4635417 12.7479167,17.8833333 12.7479167,17.8833333 C11.41875,18.30625 10.2104167,19.0010417 9.153125,19.9375 C5.98125,22.7770833 5.19583333,27.640625 6.978125,31.446875 C8.57916667,34.9208333 12.053125,37.4885417 15.9197917,37.4885417 L22.2635417,37.4885417" id="c799f7ea-080d-45c2-8385-e9a05b643951" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
																															<rect id="Rectangle" x="0" y="0" width="58" height="58"></rect>
																															<g id="fd4418aa-3e6b-4f64-a9ab-bd95cc64ddc6" transform="translate(28.697917, 27.489583)" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
																																	<path d="M0.3,0 L0.3,14.6510417" id="c38ea4ee-07e6-4da8-96d0-09d3823c9d42"></path>
																															</g>
																															<circle id="Oval" fill="#FFFFFF" cx="28.8791668" cy="49.0312502" r="1.3020835"></circle>
																													</g>
																											</g>
																									</g>
																							</g>
																					</svg>
																				</div>
																			</div>
																			<div class="grid__item grid__item--sm-3/5 grid__item--md-1/2 steps-guide__bordered steps-guide__bordered--first">
																				<h3 class="steps-guide__heading">Secure</h3>
																				<p class="steps-guide__text">We make you safe online regardless of where you are and what device you're&nbsp;using</p>
																			</div>
																		</div>
																	</li>
																	<li class="grid__item grid__item--gutter grid__item--md-1/1 grid__item--1/4 flush--sm-bottom">
																		<div class="grid">
																			<div class="grid__item grid__item--md-1/3 steps-guide__icon">
																				<div class="steps-guide__icon-wrap">
																					<svg focusable="false" aria-hidden="true" class="icon  icon--large  " width="48px" height="42px" viewBox="0 0 48 42">
																							<g id="Landing-Page---Sprint-8" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																									<g id="Landing-page-2.2---working-on-the-move" transform="translate(-553.000000, -688.000000)">
																											<g id="Group-2" transform="translate(130.000000, 521.000000)">
																													<g id="storage" transform="translate(418.000000, 162.000000)">
																															<rect id="Rectangle" x="0" y="0" width="58" height="58"></rect>
																															<g id="8e09a18e-a3b7-4c04-b634-2106bb9479e1" transform="translate(5.739583, 6.041667)" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
																																	<g id="e32919a3-7c87-4302-95db-df5b5446690b">
																																			<path d="M30.0119792,31.4166667 C30.0119792,31.4166667 36.7907292,31.6764583 39.4339583,30.5104167 C43.1849376,28.8100999 45.7485391,25.2431499 46.164375,21.1458333 C46.5601042,17.1915625 44.7566667,12.8476042 41.3461458,10.7451042 C39.6514583,9.69989583 37.6728125,9.28 35.6941667,9.1078125 C34.5651555,9.07764725 33.4354407,9.1291356 32.3138542,9.261875 C30.7143448,4.15312518 26.1940235,0.511589568 20.861875,0.03625 C16.7411405,-0.264997441 12.7266269,1.43206735 10.0714583,4.59770833 C8.79020909,6.13182148 7.87033118,7.93441052 7.37989583,9.87208333 C7.25,10.3826042 6.99322917,11.8144792 6.99322917,11.8144792 C5.66956223,12.2441362 4.44884465,12.9424237 3.4075,13.865625 C0.232604167,16.7052083 -0.540729167,21.5566667 1.23552083,25.375 C2.84864583,28.8429167 6.31354167,31.4166667 10.168125,31.4166667 L16.511875,31.4166667" id="27c5d7c0-0ef9-49b2-986b-6650d63e4a1a"></path>
																																	</g>
																																	<path d="M23.2604167,39.875 L23.2604167,14.5" id="Path"></path>
																																	<polyline id="Path" points="15.40625 22.9583333 23.2604167 14.5 31.1145833 22.9583333"></polyline>
																															</g>
																													</g>
																											</g>
																									</g>
																							</g>
																					</svg>
																				</div>
																			</div>
																			<div class="grid__item grid__item--sm-3/5 grid__item--md-1/2 steps-guide__bordered">
																				<h3 class="steps-guide__heading">Storage</h3>
																				<p class="steps-guide__text">Compliant file sharing, with 1TB of online storage, that grows when your business&nbsp;does</p>
																			</div>
																		</div>
																	</li>
																	<li class="grid__item grid__item--gutter grid__item--md-1/1 grid__item--1/4 flush--sm-bottom">
																		<div class="grid">
																			<div class="grid__item grid__item--md-1/3 steps-guide__icon">
																				<div class="steps-guide__icon-wrap">
																					<svg focusable="false" aria-hidden="true" class="icon  icon--large  " width="48px" height="39px" viewBox="0 0 48 39">
																							<g id="Landing-Page---Sprint-8" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																									<g id="Landing-page-2.2---working-on-the-move" transform="translate(-840.000000, -694.000000)">
																											<g id="Group-2" transform="translate(130.000000, 521.000000)">
																													<g id="multiscreen" transform="translate(705.000000, 161.000000)">
																															<rect id="Rectangle" x="0" y="0" width="58" height="58"></rect>
																															<g id="4fbc527c-d5f1-4e1b-8a37-ae73bb9be4c5">
																																	<rect id="Rectangle" x="0" y="0" width="58" height="58"></rect>
																																	<path d="M30.2083333,39.875 L24.1666667,39.875" id="579aef82-b57d-41d6-b076-c0e0fc618d42" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round"></path>
																																	<rect id="Rectangle" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" x="30.2083333" y="18.125" width="16.9166667" height="31.4166667" rx="3.625"></rect>
																																	<path d="M36.25,44.7083333 L41.0833333,44.7083333" id="Path" stroke="#FFFFFF" stroke-width="2" fill="#FFFFFF" fill-rule="nonzero" stroke-linecap="round" stroke-linejoin="round"></path>
																																	<path d="M30.2083333,44.7083333 L9.66666667,44.7083333 C7.66463445,44.7083333 6.04166667,43.0853656 6.04166667,41.0833333 L6.04166667,16.9166667 C6.04166667,14.9146344 7.66463445,13.2916667 9.66666667,13.2916667 L48.3333333,13.2916667 C50.3353656,13.2916667 51.9583333,14.9146344 51.9583333,16.9166667 L51.9583333,41.0833333 C51.9583333,43.0853656 50.3353656,44.7083333 48.3333333,44.7083333 L47.125,44.7083333" id="Path" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
																															</g>
																													</g>
																											</g>
																									</g>
																							</g>
																					</svg>
																				</div>
																			</div>
																			<div class="grid__item grid__item--sm-3/5 grid__item--md-1/2 steps-guide__bordered">
																				<h3 class="steps-guide__heading">Software</h3>
																				<p class="steps-guide__text">Office Apps means your teams are always using the latest Microsoft software and across any&nbsp;device</p>
																			</div>
																		</div>
																	</li>
																	<li class="grid__item grid__item--gutter grid__item--md-1/1 grid__item--1/4 flush--sm-bottom">
																		<div class="grid">
																			<div class="grid__item grid__item--md-1/3 steps-guide__icon">
																				<div class="steps-guide__icon-wrap">
																					<svg focusable="false" aria-hidden="true" class="icon  icon--large  " width="48px" height="48px" viewBox="0 0 48 48">
																						<g id="Landing-Page---Sprint-8" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																								<g id="Landing-page-2.2---working-on-the-move" transform="translate(-1126.000000, -687.000000)">
																										<g id="Group-2" transform="translate(130.000000, 521.000000)">
																												<g id="support" transform="translate(991.000000, 161.000000)">
																														<path d="M22.9220833,21.2334375 C22.9220833,21.2334375 23.7467708,16.82 29,16.8441667 C34.2532292,16.8683333 36.0294792,23.3147917 33.259375,26.1332292 C32.0208333,27.3989583 30.9605208,28.4411458 30.2083333,29.1721875 C29.4335202,29.9343608 28.9980277,30.9762765 29,32.063125 L29,34.3982292" id="Path" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
																														<circle id="Oval" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" cx="29" cy="29" r="22.9583333"></circle>
																														<rect id="Rectangle" x="0" y="0" width="58" height="58"></rect>
																														<circle id="Oval" stroke="#FFFFFF" stroke-width="2" fill="#FFFFFF" stroke-linecap="round" stroke-linejoin="round" cx="29" cy="41.0833333" r="1"></circle>
																												</g>
																										</g>
																								</g>
																						</g>
																				</svg>
																				</div>
																			</div>
																			<div class="grid__item grid__item--sm-3/5 grid__item--md-1/2 steps-guide__bordered steps-guide__bordered--last">
																				<h3 class="steps-guide__heading">Support</h3>
																				<p class="steps-guide__text">Local support and help available when you need it, including initial set-up and deployment</p>
																			</div>
																		</div>
																	</li>
																</ol>

																<div class="gutter--top align--center">
                                                                    <a class="button button--primary"{{#unless USE_LOCAL_JOURNEY}} href="{{ MARKETPLACE_BASE_URL }}/en-GB/apps/122611/" target="_blank"{{else}} href="{{url '/products/office-365.html'}}"{{/unless}}>Show me more</a>
																</div>
															</div>
														</div>

											</div>
										</div>
							</div>
						</div>

				</div>
			</section>

			<section class="section">
				<div class="js-component-component component__component" data-component="why-vodafone">
					<div class="why-vodafone">
						<div class="why-vodafone__content">
							<h2 class="heading heading--3 heading--leading align--center">Secure solutions for small business owners</h2>

							<div class="grid grid--gutter why-vodafone__grid">
								<div class="why-vodafone__image grid__item grid__item--gutter grid__item--sm-1/1 grid__item--md-1/4 grid__item--1/4 align--center">
									<img src="{{ asset '/images/lp-3-oval@2x.png' }}" alt="Adaptable solutions for small business owners">
								</div>
								<div class="why-vodafone__text grid__item grid__item--gutter grid__item--sm-1/1 grid__item--md-3/4 grid__item--3/4">
									No business can afford to make mistakes with customer data. Having a dedicated email platform such as Microsoft Outlook enables users to email customers and share files between employees easily and safely. Whether it’s confirming quotes or sales, fulfilling orders or handling complaints, communication is fast and convenient. Just as importantly Outlook security is enterprise-grade, trusted by many of the world’s largest&nbsp;organisations.
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="section section--gallery flush--bottom">
				<div class="spring">

					<div class="card card--white">
							<div class="card__wrapper">
									<div class="work-better__content">
											<div class="grid grid--gutter">
												<div class="grid__item grid__item--gutter grid__item--sm-1/1 grid__item--md-1/3 grid__item--1/4 grid__item--push align--center">
													<img src="{{ asset '/images/SMB-Security-Infographic@2x.png' }}" alt="">
												</div>
												<div class="grid__item grid__item--gutter grid__item--sm-1/1 grid__item--md-2/3 grid__item--3/4 grid__item--pull">
													<div class="work-better__text">
														<h2 class="heading heading--3 heading--leading">Stay connected, stay secure</h2>
														<p>Collaborative working improves people’s productivity across your business. For this to happen, you need reliable, secure connectivity. Which is where we come in. We can give you the communications tools you need to ensure the right people have access to the right information at the right time.</p>
														<p>For a practical guide to communications security, download our infographic ‘How small businesses can safeguard their data’ <a href="">here</a>.</p>
														<div class="gutter--top" style="margin-top:50px !important;">
															<a href="http://app.response.vodafone.com/e/er?s=1525&lid=17958&elq=~~eloqua..type--emailfield..syntax--recipientid..encodeFor--url~~" data-tracked="How small businesses can safeguard their data Infographic" class="button button--primary hidden-mobile" target="_blank">Download Infographic</a>
															<a href="http://app.response.vodafone.com/e/er?s=1525&lid=17958&elq=~~eloqua..type--emailfield..syntax--recipientid..encodeFor--url~~" data-tracked="How small businesses can safeguard their data Infographic" class="button button--primary hidden-desktop" target="_blank">Download Infographic</a>
														</div>
													</div>
												</div>
											</div>
									</div>
							</div>
						</div>

				</div>
			</section>

			<section class="section section--gallery">
				<div class="spring">

						<div class="grid grid--gutter js-wrapper-grid" data-js="_equalRows" data-items=".card" data-sample-height=".card__wrapper">
							<div class="grid__item grid__item--1/2 grid__item--sm-1/1  grid__item--gutter">
								<div class="card card--white card--quote">
										<div class="card__wrapper">
												<div class="background">
													<div class="background__image" style="background-image: url({{ asset '/images/lp-3-quote-577x244@2x.jpg' }})"></div>
													<svg focusable="false" aria-hidden="true" class="icon  icon--small  quote__logo">
														<use xlink:href="#icon-vodafone-logo"></use>
													</svg>
												</div>
												<div class="card__content">
													<blockquote class="quote--large">
														<p>“This has made a massive impact on our business. It's given us a competitive edge in a crowded marketplace. Our people have far superior tools to do their job, they look slick, professional and flexible in front of our customers.”</p>
														<footer><cite><strong>Tony Henthorn</strong><br>Publishing Director, Diversified Communications UK</cite></footer>
													</blockquote>
												</div>
										</div>
								</div>
							</div>
							<div class="grid__item grid__item--1/2 grid__item--sm-1/1  grid__item--gutter">
								<div class="card card--white">
									<div class="card__wrapper">
										<div class="card__content">
											<img src="{{ asset '/images/lp-3-work-smarter@2x.png' }}" alt="Work smarter with the Microsoft applications you know and trust." style="margin-bottom: 20px;">
											<h2 class="heading heading--3 heading--leading">Work smarter with the Microsoft applications you know and trust.</h2>
											<p>
													<strong>Office</strong><br>
													The latest version including desktop and online options, with pay-as-you-go licencing
											</p>
											<p>
													<strong>Outlook customer manager</strong><br>
													Use Outlook to track and grow your customer relationships
											</p>
											<p>
													<strong>Invoicing and bookings</strong><br>
													Get paid faster and manage appointments more efficiently
											</p>
											<p>
													<strong>MileIQ</strong><br>
													Accurate mileage reporting for your people on the road
											</p>
											<div class="gutter--top" style="margin-top:40px !important;">
												<a class="button button--primary"{{#unless USE_LOCAL_JOURNEY}} href="{{ MARKETPLACE_BASE_URL }}/en-GB/apps/122611/" target="_blank"{{else}} href="{{url '/products/office-365.html'}}"{{/unless}}>Get started</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
				</div>
			</section>
		</div>
	</div>
</div>

{{> footer}}
